body {
font-family: Arial;
background: #f4f4f4;
padding: 20px;
}
h2 {
text-align: center;
}
.item {
background: white;
padding: 10px;
margin: 10px 0;
display: flex;
justify-content: space-between;
}
button {
background: green;
color: white;
border: none;
padding: 5px 10px;
cursor: pointer;
}
button:hover {
background: darkgreen;
}